.page
    background red( #fff, .5 )

    .title
        margin-bottom 10px
        padding 10px
        border-radius 5px
        background red( #ff0, .5 )
        color red( #f00, .5 )
        text-align center
        text-transform uppercase
        text-shadow 1px 1px 1px red( #f00, .5 )
        letter-spacing 1px
        font-weight bold
        font-size-adjust 1.2
        font-size 16px
        font-family 'Open Sans', sans-serif
        line-height 20px
